<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>添加房源</title>
    <link th:href="@{/lib/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <style>
        body {
            margin-top: 30px;
        }
    </style>
</head>
<body>
<form th:action="@{/house/add}" method="post" enctype="multipart/form-data" class="form-horizontal" id="addFrom" role="form">
    <!--省-->
    <div class="form-group">
        <label for="province" class="col-sm-2 control-label">所在省</label>
        <div class="col-sm-2 input-group" >
            <select name="province" id="province" class="form-control">
                <option value="">==请选择==</option>
            </select>
        </div>
    </div>
    <!--市-->
    <div class="form-group">
        <label for="city" class="col-sm-2 control-label">所在市</label>
        <div class="col-sm-2 input-group">
            <select name="city" id="city" class="form-control">
                <option value="">==请选择==</option>
            </select>
        </div>
    </div>
    <!--所在区县-->
    <div class="form-group">
        <label for="area" class="col-sm-2 control-label">所在区县</label>
        <div class="col-sm-2 input-group">
            <select name="area" id="area" class="form-control">
                <option value="">==请选择==</option>
            </select>
        </div>
    </div>

    <!--2、租赁方式-->
    <div class="form-group">
        <label for="rent_mode" class="col-sm-2 control-label">租赁方式</label>
        <div class="col-sm-2 input-group">
            <select name="rentMode" id="rent_mode" class="form-control">
                <option value="">==请选择==</option>
            </select>
        </div>
    </div>
    <!--3、朝向-->
    <div class="form-group">
        <label for="orientation" class="col-sm-2 control-label">朝向</label>
        <div class="col-sm-2 input-group">
            <select name="orientation" id="orientation" class="form-control">
                <option value="">==请选择==</option>
            </select>
        </div>
    </div>

    <!--4、户型-->
    <div class="form-group">
        <label for="house_type" class="col-sm-2 control-label">户型</label>
        <div class="col-sm-2 input-group">
            <select name="houseType" id="house_type" class="form-control">
                <option value="">==请选择==</option>
            </select>
        </div>
    </div>

    <!--5、租金-->
    <div class="form-group">
        <label for="rental" class="col-sm-2 control-label">租金</label>
        <div class="col-sm-2 input-group">
            <input type="number" name="rental" id="rental" class="form-control">
        </div>
    </div>

    <!--6、地址-->
    <div class="form-group">
        <label for="address" class="col-sm-2 control-label">地址</label>
        <div class="col-sm-2 input-group">
            <input type="text" name="address" id="address" class="form-control" placeholder="详细地址">
        </div>
    </div>
    <!--7、图片-->
    <div class="form-group">
        <label  class="col-sm-2 control-label">房屋图片</label>
        <div class="col-sm-2 input-group">
            <input type="file" name="file" id="file" class="form-control">
        </div>
    </div>
    <!--添加按钮-->
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-warning">添加</button>
        </div>
    </div>

</form>

<script th:src="@{/lib/js/jquery/jquery.min.js}"></script>
<script th:src="@{/lib/bootstrap/js/bootstrap.min.js}"></script>
<!--jquery校验工具-->
<script th:src="@{/lib/js/jquery/validate/jquery.validate.min.js}"></script>
<!--jquery校验工具汉化包插件-->
<script th:src="@{/lib/js/jquery/validate/messages_zh.min.js}"></script>
<script th:inline="javascript">
    const path = [[${#request.getContextPath()}]];
    const emptOption = "<option value=''>==请选择==</option>"
    $(function () {
        //1、加载省
        House.queryArea("province");

        //2、给省下拉列表框添加change事件
        $("#province").change(function () {
            //切换省的时候，将市和区县下拉类表框重置
            $("#city").html(emptOption);
            $("#area").html(emptOption);
            //拿到省数据的value值
            if(this.value){//当value的值不是null或者undefined时  执行查询
                House.queryArea("city",this.value);
            }
        });

        //3、给市下拉列表框添加change事件
        $("#city").change(function () {
            //切换市的时候，将市和区县下拉类表框重置
            $("#area").html(emptOption);
            if(this.value){
                House.queryArea('area',this.value)
            }
        });
        //查询执行租赁方式 朝向  户型
        House.queryDict("rent_mode");
        House.queryDict("house_type");
        House.queryDict("orientation");

        //加载调用验证规则
        House.validateForm();


    });
    //定义House对象 包含查询地区和查询字典数据接口
    let House = {
        /*
        * 查询省市区级联关系
        * pid:就是父id 查询省的pid为0
        * documentId:为这个dom元素（这里是select下拉列表框）挂载结果
        * */
        queryArea:function (documentId,pid) {
            //表示如果pid不传参  默认是0 查询省级数据
            pid = pid || 0;
            $.ajax({
                url:path + "/area/queryByPid",
                type:"GET",
                data:'pid='+pid,
                dataType:"json",
                success:function (res) {
                    /*res是一个数组
                        [{
                            id:1,
                            name:XXXX,
                            pid:0
                            }
                        ]
                    */
                    let options ="<option value=''>==请选择==</option>";
                    for (let area of res){
                        options +="<option value='"+area.id+"'>"+area.name+"</option>"
                    }
                    //为form的省市区的下拉列表框赋值
                    $("#" +documentId).html(options);
                }
            })

        },
        /**
         * groupId 租赁方式、户型、朝向
         * 查询地址：boot/dict/groupId(rent_mode、house_type、orientation)
         * 查询完成之后 为三项赋值   这里把dom元素的id和数据库中的groupid一样
         * 所以不用挂documentId
         */
        queryDict:function (groupId) {
            $.ajax({
                url:path+'/dict/'+groupId,
                type:'GET',
                data:'',
                dataType:'json',
                success:function (res) {
                    let options = "<option value=''>==请选择==</option>";
                    $.each(res,function (index,dict) {
                        options += "<option value='"+dict.value+"'>"+dict.name+"</option>"
                    });
                    //为form的租赁方式 朝向  户型赋值
                    $("#"+groupId).html(options);
                }
            });
        },
        /*校验表单项
        * (加一个from表单的id "addFrom")
        * */
        validateForm:function () {
            $("#addFrom").validate({

                // 开启debug模式，只进行校验，不提交表单
                debug: false,
                // 校验成功之后，可以在这里自定义表单提交方式，如使用ajax提交, 即使debug设置成了false, 这个方法也会执行
                /*submitHandler: function(form) {
                  alert('检验成功');
               },*/

                //修改提示信息时元素类型默认是<label> 这里修改div
                //使用AlyUi时一定要修改成div
                errorElement:"div",
                /**
                 * 修改错误显示位置
                 * @param errorEle ：错误提示信息的dom元素
                 * @param validateEle：被检验的dom元素
                 */
                errorPlacement:function(errorEle,validateEle){
                    errorEle.addClass("input-group-addon");
                    /**
                     * <div class="col-sm-3 input-group">
                     *   <select id="province" name="province" class="form-control">
                     *     <option value="">--请选择--</option>
                     *   </select>
                     *   <div class="error input-group-addon">必填</div>
                     * </div>
                     *
                     * 怎么拿到select标签上一级标签？
                     */
                    // 将错误信息元素追加到被校验元素的父元素上
                    errorEle.appendTo(validateEle.parent());
                },

                //校验成功后的执行
                success:function(msgElement){
                    msgElement.addClass("input-group-addon").text("OK");
                },

                //校验规则 rules
                rules:{
                    province: 'required',//表示name属性为province的验证
                    city:"required",
                    area:'required',
                    rent_mode:'required',
                    orientation:'required',
                    house_type:'required',
                    file:'required',
                    address:{            //多个校验时使用数组
                        required:true,
                        minlength:6//不能超过10个字符
                    },
                    rental:{             //租金验证  //自定义的
                        /*digits:true,
                        min:100*/
                        required:true,
                        positiveInt:true, //自定义的属性
                        max:100000,

                    }

                },
                //校验失败后的消息messages
                messages:{
                    province: '必选项',  //省的校验
                    city:"必选项",
                    area:"必选项",
                    rent_mode:'必填项',
                    orientation:'必填项',
                    house_type:'必填项',
                    file:'必填项',
                    address: {          //详细地址的校验
                        required: "必填项",
                        minlength:"不能小于6个字符",
                    },
                    rental:{             //租金验证
                        /*digits:true,
                        min:100*/
                        required:'必填项',
                        positiveInt:'必须大于0的正整数', //自定义的属性
                        max:'最大十万元',

                    }

                },
            });
            /*自定义校验规则
            * $.validator.addMethod(校验规则名称,校验方法,默认的提示消息)
            * */
            $.validator.addMethod('positiveInt',function(value,element){
                let reg = /^\+?[1-9]\d*$/;
                return this.optional(element) || (reg.test(value));
            },'必须大于0的正整数');
        },

    };


</script>
</body>
</html>